# Directorios y archivos generados automáticamente por dependencias
/vendor/
composer.lock

# Archivos de configuración de entorno y seguridad
.env
db/conexion.php

# Ignorar archivos temporales y logs
*.log
*~
*.bak

# Ignorar directorios de sistemas operativos e IDEs
.DS_Store
Thumbs.db
.vscode/